<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current Date and Time Information</h1>
    <p id="full-date"></p>
    <p id="year"></p>
    <p id="month"></p>
    <p id="day-of-month"></p>
    <p id="day-of-week"></p>
    <p id="hours"></p>
    <p id="minutes"></p>
    <p id="seconds"></p>
    <p id="milliseconds"></p>
    <p id="unix-time"></p>
    <p id="locale-date"></p>
    <p id="locale-time"></p>
    <p id="custom-date"></p>

    <script type="module" src="../js/task2.js"></script>
</body>
</html>